node_modules/

# .NET 9 Web API
Employee.API/bin/
Employee.API/obj/
Employee.API/*.user
Employee.API/*.suo
Employee.API/*.userosscache
Employee.API/*.sln.docstates
Employee.API/.vscode/
Employee.API/.idea/
Employee.API/.project
Employee.API/.DS_Store
Employee.API/*.swp
Employee.API/*.log
Employee.API/*.tlog
Employee.API/*.ide
Employee.API/*.sln.ide
Employee.API/*.sln.docstates
Employee.API/*.vs/

Employee.API.Test/bin/
Employee.API.Test/obj/
Employee.API.Test/*.user
Employee.API.Test/*.suo
Employee.API.Test/*.userosscache
Employee.API.Test/*.sln.docstates
Employee.API.Test/.vscode/
Employee.API.Test/.idea/
Employee.API.Test/.project
Employee.API.Test/.DS_Store
Employee.API.Test/*.swp
Employee.API.Test/*.log
Employee.API.Test/*.tlog
Employee.API.Test/*.ide
Employee.API.Test/*.sln.ide
Employee.API.Test/*.sln.docstates
Employee.API.Test/*.vs/


